html {
  background-color: black;
  color: white;
  font-size: 24px;
}
.big {
  background-color: black;
  color: white;
  font-size: 32px;
  font-weight: bold;
}
button {
  background-color: #aaa;
  width: 150px;
  height: 100px;
}
button:disabled {
  background-color: #777;
  width: 150px;
  height: 100px;
}
