<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/main.css"/>
    <title>Number multiplier</title>
    <meta name="description" content="Self-explanatory."/>
    <meta name="og:title" content="Number multiplier"/>
    <meta name="og:description" content="Self-explanatory."/>
</head>
<body>
    <div id="app">
        <main v-if="!gameWon">
            <button class="tab-button" onclick="settings.tab = 'main'">Main</button>
            <button class="tab-button" onclick="settings.tab = 'upgrades'">Upgrades</button>
            <p>Version: 1.0.1 β</p>
            <p>You have <span class="big">{{formatNumber(points, 4, 2, 303)}}</span> points.</p>
            <p>(×<span class="big">{{formatNumber(gain, 4, 2, 303)}}</span>/sec)</p>
            <main v-if="pointsAreInfinite">Your points have been rooted by {{formatNumber(softcapRoot, 4, 2, 303)}} due to softcap!</main>
            <main v-if="settings.tab === 'main'">
                <main style="color: #e94" v-if="infinities.gte(1)">{{infinities}}∞</main>
                <main style="color: #4e9" v-if="eternities.gte(1)">{{eternities}}∑</main>
                <main style="color: #94e" v-if="realities.gte(1)">{{realities}} Realities</main>
            </main>
            <main v-if="settings.tab === 'upgrades'">
                <upgrade-table :upgrades="upgrades"></upgrade-table>
            </main>
        </main>
        <main v-else>
            <span class="big">Congrats! You won the game!</span>
        </main>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/classes/upgrade.js"></script>
<script src="js/components/upgrade.js"></script>
<script src="js/components/upgrade-table.js"></script>
<script src="js/main/break_eternity.js"></script>
<script src="js/main/functions.js"></script>
<script src="js/main.js"></script>
</html>
